/* full screen */
* {
	margin: 0;
	padding: 0;
}

/* this block of styling is essential!
 * try remove this block and you will see the resolution of the scene decreases dramatically
 * this sets the height / width of the *canvas* element created by WebGL
 * if you edit this to be a different size, be sure to also edit your mouseVector for raycasting, otherwise it will not be detected correctly 
 */
canvas{
  width: 100vw;
  height: 100vh;
  display: block;
}